@use 'sass:math';

.swatches {
    margin-bottom: 90px;

    &__error {
        color: #9b2c2c;
        text-align: center;
        margin-bottom: 25px;
        font-size: 18px;
    }

    &__info {
        text-align: center;
        font-size: 14px;
        color: #4a5568;
    }

    &__swatches {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -5px;
    }

    &__swatch {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 5px;
        margin-bottom: 10px;
    }

    &__none {
        width: 100%;
        max-width: 480px;
        margin: 0 auto;
    }

    @media screen and (min-width: 480px) {
        &__swatch {
            max-width: math.div(100%, 2);
        }
    }

    @media screen and (min-width: 768px) {
        &__swatch {
            max-width: math.div(100%, 4);
        }
    }

    @media screen and (min-width: 1040px) {
        &__swatch {
            max-width: math.div(100%, 6);
        }
    }

    @media screen and (min-width: 1450px) {
        &__swatch {
            max-width: math.div(100%, 8);
        }
    }
}
