.popup {
    position: fixed;
    z-index: 20;
    display: flex;
    padding: 100px 25px;
    min-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;

    &__backface {
        background-color: rgba(#4a5568, 0.85);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 30;
        position: fixed;
    }

    &__window {
        background-color: #ffffff;
        border-radius: 2px;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        max-width: 750px;
        padding: 25px;
        width: 100%;
        position: relative;
        z-index: 50;
        margin: auto;
    }

    &__preview {
        width: 50%;
        display: block;
        padding: 25px;
    }

    &__close {
        border: none;
        background-color: transparent;
        padding: 0;
        position: absolute;
        bottom: calc(100% + 10px);
        right: 0;
        cursor: pointer;
        color: rgba(#ffffff, 0.65);

        & > svg {
            width: 32px;
            height: 32px;
        }
    }
}

.app--dark {
    .popup {
        background-color: rgba(#1a202c, 0.85);
        &__window {
            background-color: #2d3748;
        }
    }
}
