.picker {
    display: flex;
    margin: 0 auto;
    max-width: 520px;
    background-color: #ffffff;
    padding: 3px;
    border: 1px solid #cbd5e0;
    border-radius: 2px;

    &__input {
        display: flex;
        flex: 1 1 auto;
        border-radius: 2px;
        position: relative;

        input[type='text'] {
            background-color: #ffffff;
            border: none;
            margin: 0;
            height: 100%;
            flex: 1 1 auto;
            font-size: 20px;
            padding: 7px 10px;
            width: 100%;
        }
    }

    &__swatch {
        border: none;
        background-color: transparent;
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #718096;
        cursor: pointer;
        margin: 0 5px;

        svg {
            width: 24px;
            height: 24px;
        }
    }

    &__colorpicker {
        position: absolute;
        top: calc(100% + 10px);
        left: 50%;
        z-index: 20;
    }
}

.app--dark {
    .picker {
        border-color: #4a5568;
        background-color: #2d3748;

        &__input {
            input[type='text'] {
                background-color: #2d3748;
                color: #f7fafc;

                &::placeholder {
                    color: #a0aec0;
                }
            }
        }
    }
}
