.swatch {

    $padding: 15px;

    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    line-height: 1.25;
    border-radius: 2px;
    overflow: hidden;
    transition: transform .2s ease, box-shadow .2s ease;
    cursor: pointer;
    position: relative;

    &:hover, &:focus {
        transform: scale(1.25);
        z-index: 10;
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    }

    &__preview {
        padding: $padding;
        display: block;
        border-bottom: 2px solid rgba(#000000, .1);
        font-weight: 600;
        position: relative;
    }

    &__text {
        display: block;
        &--large {
            font-size: 26px;
        }
        &--strike {
            text-decoration: line-through;
        }
    }

    &__body {
        padding: ($padding - 2px) $padding;
        display: flex;
        justify-content: space-between;
    }

    &__contrast {
        text-transform: uppercase;
        font-size: 10px;
        line-height: 1.25;
        color: #A0AEC0;
        strong {
            font-size: 16px;
            display: block;
            color: #2D3748;
        }
    }

    &__scores {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 68px;
        bottom: 3px;
        font-size: 8px;
        text-transform: uppercase;
        line-height: 1.2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #1A202C;
    }

    &__score {
        position: relative;
        background-color: rgba(#FFFFFF, .925);
        padding: 5px 5px 5px 28px;
        border-radius: 2px;
        box-shadow: 0 1px 2px rgba(#000000, .1);

        span {
            letter-spacing: .2px;
            opacity: .75;
        }
        strong {
            display: block;
            font-size: 14px;
            letter-spacing: .75px;
        }
        svg {
            width: 16px;
            height: 16px;
            position: absolute;
            top: 50%;
            left: 6px;
            transform: translateY(-50%);
        }

        &--fail {
            color: #9B2C2C;
        }
        &--pass {
            color: #276749;
        }
    }
}

.app--dark {
    .swatch {
        background-color: #2D3748;

        &__contrast {
            strong {
                color: #F7FAFC;
            }
        }

        &__star {
            &:hover, &:focus {
                background-color: #4A5568;
                color: #ECC94B;
            }
        }
    }
}
