.swatch {
    $padding: 15px;

    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    line-height: 1.25;
    border-radius: 2px;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    position: relative;
    display: block;
    padding: 0;
    width: 100%;
    text-align: left;
    border: none;

    &:hover,
    &:focus {
        transform: scale(1.25);
        z-index: 10;
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    }

    &__info {
        color: #4a5568;
        transition: transform 0.2s ease;
    }

    &:hover &__info,
    &:focus &__info {
        transform: scale(1.5);
        color: #1a202c;
    }

    &__preview {
        padding: $padding;
        display: block;
        border-bottom: 2px solid rgba(#000000, 0.1);
        font-weight: 600;
        position: relative;
    }

    &__text {
        display: block;
        &--large {
            font-size: 26px;
        }
        &--strike {
            text-decoration: line-through;
        }
    }

    &__body {
        padding: ($padding - 2px) $padding;
        display: flex;
        justify-content: space-between;
    }

    &__contrast {
        text-transform: uppercase;
        font-size: 10px;
        line-height: 1.25;
        color: #a0aec0;
        strong {
            font-size: 16px;
            display: block;
            color: #2d3748;
        }
    }

    &__scores {
        position: absolute;
        top: 7px;
        right: 7px;
        width: 62px;
        bottom: 5px;
        font-size: 8px;
        text-transform: uppercase;
        line-height: 1.2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #1a202c;
    }

    &__score {
        position: relative;
        background-color: rgba(#ffffff, 0.875);
        padding: 5px 5px 5px 26px;
        border-radius: 2px;
        box-shadow: 0 1px 2px rgba(#000000, 0.1);

        span {
            letter-spacing: 0.2px;
            opacity: 0.75;
        }
        strong {
            display: block;
            font-size: 12px;
            letter-spacing: 0.75px;
        }
        svg {
            width: 16px;
            height: 16px;
            position: absolute;
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
        }

        &--fail {
            svg {
                color: #9b2c2c;
            }
        }
        &--pass {
            svg {
                color: #276749;
            }
        }
    }
}

.app--dark {
    .swatch {
        background-color: #2d3748;

        &__contrast {
            strong {
                color: #f7fafc;
            }
        }

        &__info {
            color: #cbd5e0;
        }
        &:hover &__info,
        &:focus &__info {
            color: #edf2f7;
        }
    }
}
